@use 'partials/fonts';

@use 'partials/base';
@use 'partials/util';

@use 'partials/header';
@use 'partials/footer';
@use 'partials/website';

.return-link {
  font-size: 1.8rem;
  @media (min-width: 620px) {
    font-size: 3rem;
  }

  &:before {
    content: 'â† ';
  }
}
