@font-face {
  font-family: 'Redaction 35';
  src: url('/fonts/Redaction_35-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Redaction 35';
  src: url('/fonts/Redaction_35-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Redaction 50';
  src: url('/fonts/Redaction_50-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Redaction 50';
  src: url('/fonts/Redaction_50-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: 'Redaction 35';
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

::selection {
  color: whitesmoke;
  background-color: #000;
}

main {
  font-size: 2rem;
  position: relative;
  height: 100vh;
  background-color: #c0c0c0;
}

main:before {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  content: '';
  width: 100%;
  display: block;
  pointer-events: none;
  background: url('/img/top-right.png') top right no-repeat,
    url('/img/top-left.png') top left no-repeat,
    url('/img/bottom-left.png') bottom left no-repeat,
    url('/img/bottom-right.png') bottom right no-repeat,
    url('/img/top.png') top left repeat-x,
    url('/img/left.png') top left repeat-y,
    url('/img/right.png') top right repeat-y,
    url('/img/bottom.png') bottom left repeat-x;
}

article {
  margin-bottom: 2em;
}

h2 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-style: italic;
}
p {
  margin-top: 0;
  padding-left: 2ch;
}

span {
  color: #0000ff;
}

.app-inner {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10rem 1em;
  overflow-x: hidden;
  overflow-y: scroll;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.tw-link {
  position: absolute;
  width: 3rem;
  height: 2.4rem;
  display: block;
  z-index: 2;
  top: 3rem;
  cursor: pointer;
  left: 6.8rem;
}

@media (min-width: 620px) {
  body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  main {
    font-size: 3rem;
    margin: 1em auto;
    max-width: 40ch;
    max-height: calc(100vh - 2em);
  }
}
