<header class="header">
    <div class="window" aria-hidden="true">
        <div class="button window__min"></div>
        <div class="button window__resize"></div>
        <div class="button window__close">
        </div>
    </div>
    <nav>
        <ul class="top-nav">
            <li><a href="/about">About</a></li>
            <li><a href="https://twitter.com/xdesro">Very Good Tweets</a></li>
            <li><a class="inactive" aria-disabled="true" href="#">Wander</a></li>
            <li><a href="https://stillness.digital">Be Lost In Thought</a></li>
            <li><a class="inactive" aria-disabled="true" href="#">Find Love</a></li>
        </ul>
        <ul class="secondary-nav">
            <li class="secondary-nav__back"><a class="button button--inactive" aria-disabled="true" href="#"><span></span>Back</a></li>
            <li class="secondary-nav__forwards"><a class="button button--inactive" aria-disabled="true" href="#"><span></span>Forward</a>
            </li>
            <li class="secondary-nav__home"><a class="button" href="/"><span></span>Home</a></li>
        </ul>
        <div class="tertiary-nav">
            <form class="location" id="location" autocomplete="off">
                <label for="location-field">Location</label>
                <div class="location__field-wrapper">
                    <input name="location-field" id="location-field" type="text"
                        value="https://strange.website"></input>
                </div>
                <button class="button">Go</button>
            </form>
            <p class="button">How surreal!</p>
            <p class="button">How wondrous to be alive!</p>
        </div>
    </nav>
</header>