@font-face {
  font-family: 'Redaction 35';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/Redaction_35-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Redaction 35';
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/Redaction_35-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Redaction 20';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/Redaction_20-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'MS Sans';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/ms-sans.woff2') format('woff2');
}
