@use './variables' as *;

.footer {
  font-family: 'MS Sans';
  font-size: 0.7rem;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.25rem 0.125rem 0.125rem;
  color: $ui-mono-mid-accessible-text;
  border: 0.125rem solid $ui-mono-light;
  border-top: 1px solid $ui-mono-contrast;
  background: $ui-mono-light;
  p,
  marquee {
    display: block;
    margin: 0;
    padding: 0.125rem 0.25rem;
    border: 0.0625rem solid $ui-mono-mid;
    border-right-color: $ui-mono-contrast;
    border-bottom-color: $ui-mono-contrast;
  }
}
