@use './variables' as *;

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border: 0;
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  color: inherit;
  border: 1px solid $ui-mono-contrast;
  border-right-color: $ui-mono-neutral;
  border-bottom-color: $ui-mono-neutral;

  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border: 1px solid $ui-mono-mid-light;
    border-right-color: $ui-mono-mid;
    border-bottom-color: $ui-mono-mid;
  }

  &:active {
    border-top-color: $ui-mono-neutral;
    border-right-color: $ui-mono-contrast;
    border-bottom-color: $ui-mono-contrast;
    border-left-color: $ui-mono-neutral;

    &:before {
      border-color: $ui-mono-mid-light;
      border-top-color: $ui-mono-mid;
      border-left-color: $ui-mono-mid;
    }
  }

  &--inactive {
    cursor: not-allowed;
    pointer-events: none;
    color: $ui-mono-mid;
    text-shadow: 1px 1px 0 $ui-mono-contrast;
  }
}
