$site-contrast: whitesmoke; // lol i'm at it again boyo
$site-neutral: #030303;
$site-url-blue: #0000ff;

$app-contrast: #e5e5e5;

$ui-mono-neutral: #030303;
$ui-mono-mid-accessible-text: #555;
$ui-mono-mid: #929292;
$ui-mono-light: #cbcbcb;
$ui-mono-mid-light: #e5e5e5;
$ui-mono-contrast: whitesmoke;

$ui-text: $site-neutral;
$ui-border-dark: $site-neutral;
$ui-accent: #011893;
