@use './variables' as *;

.website {
  font-size: 1.8rem;
  margin-bottom: 2em;
  scroll-margin-top: 14rem;

  @media (min-width: 620px) {
    font-size: 3rem;
    scroll-margin-top: 16rem;
  }

  &__title {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.5em;
  }

  &__body {
    margin-top: 0;

    @media (min-width: 620px) {
      padding-left: 2ch;
    }
  }

  span {
    color: $site-url-blue;
  }
}
